numpy
pandas
scipy
matplotlib
jupyterlab
sphinx
sphinx-material
sphinx-redactor-theme              
sphinx-togglebutton                
sphinxcontrib-applehelp            
sphinxcontrib-bibtex               
sphinxcontrib-devhelp              
sphinxcontrib-htmlhelp             
sphinxcontrib-jsmath               
sphinxcontrib-qthelp               
sphinxcontrib-serializinghtml      
sphinxcontrib-websupport           
